
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="text-align:center;background-color:deepskyblue;font-size:45px;">
        <b>Online Shopping</b>

    </div>
    <div>
        <pre>
            Hi Sir/Madam,
                Greetings.
                We have recieved your product buy request and it has been processed successfully.
                We have packed your product and it has been shipped.

               The product will reach you soon!

                Thank you!!! Happy Shopping!!!
                
        </pre>
    </div>
</body>
</html>

